.title {
  animation: neon 5s linear infinite;
}

@keyframes neon {
  0%,
  39%,
  41%,
  59%,
  61%,
  100% {
    text-shadow: white 0 0 12px, #d97706 0 0 24px, #d97706 0 0 36px;
  }

  40%,
  60 {
    text-shadow: nome;
  }
}
